<h1>All those awesome people supports us already. Become part of it.</h1>

<ol>

{{#each signers}}

        <li>
            {{firstname}} {{lastname}}, {{age}}<br />
            Living in {{city}}. 
            {{#if homepage}}
            <br />
            Visit {{firstname}}'s website <a href="{{homepage}}" target="_blank">here <i class="icofont-external-link"></i></a>
            {{/if}}
        </li>

    {{/each}}

</ol>